* {
    margin: 0;
    padding: 0;
}

.big {
    margin: 0 auto;
    background-color: skyblue;
}

.big div {
    float: left;
    width: 30%;
    padding-top: 31%;
    margin: 1%;
    background-color: orange;
    border-radius: 10px;
}